* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: rgb(50, 167, 145);
}

.container {
  margin: auto;
  width: 95%;
}

.pg-inicial {
  display: flex;
  margin-top: 1rem;
}

.searchbar {
  align-items: center;
  display: flex;
  margin: auto;
  width: 100%;
}

.search-input {
  margin-right: 15px;
  width: 100%;
}

.content {
  margin: 15px auto;
  max-width: 1100px;
  width: 80%;
}

.container.header {
  background-color: rgb(50, 167, 145);
  height: 4rem;
  padding: 0.2rem;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  margin-top: 20px;
}

img {
  max-width: 70px;
}

.header-title {
  margin-left: -70px;
}

.default-text {
  margin-top: 60px;
  font-size: 1.7rem;
  opacity: 0.7;
  text-align: center;
}

.header-link, .header-link:hover {
  align-items: center;
  color: black;
  display: flex;
}

.header > * {
  margin-top: 5px;
}
