* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: rgb(50, 167, 145);
}

.container {
  width: 95%;
  margin: auto;
}

.pg-inicial {
  display: flex;
  margin-top: 1rem;
}

.searchbar {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  margin-right: 15px;
}

.content {
  width: 80%;
  margin: 15px auto;
  max-width: 1100px;
}

.container.header {
  background-color: rgb(50, 167, 145);
  height: 4rem;
  padding: .2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  margin-top: 20px;
}

img {
  max-width: 70px;
}

#header-title {
  margin-left: -70px;
}

.default-text {
  font-size: 1.7rem;
  text-align: center;
  opacity: .7;
  margin-top: 60px;
}

.header-link, .header-link:hover {
  color: black;
  display: flex;
  align-items: center;
}

.header > * {
  margin-top: 5px;
}
